.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link_add {
  margin-left: 60%;
  font-size: 24px;
}

.link_back_to_home {
  margin-left: 70%;
}

h4 {
  background-color: orange;
}

fieldset {margin:0;padding:0;border:solid !important}

hr.nice { 
  background-color: blue;
  border: dashed black; 
} 

button.with_space {
  margin: 10px;
  margin-left: 71px;
  background-color: chartreuse;
}

h6 {
  background-color: red;
}




